<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title th:text="#{title}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/starter-template.css}"/>
</head>
<body>

<section layout:fragment="content">

    <div class="starter-template">
        <h1>Bienvenido al Sistema Escolar<br>como parte de la evaluación oral.</h1>
        <br>
        <h4>Acuerdo 286</h4>
        <h4>Ingeniería de Software</h4>
        <br>
        <h4>Sustentante</h4>
        <h4>Carlos Alejandro Rosas Montaño</h4>
        <br>
        <h4>Caso práctico asignado</h4>
        <h4>INS-018-GCO-001</h4>
        <br>
        <h4>Fecha de examen primera etapa</h4>
        <h4>4 de Octubre de 2023</h4>
        <br>
        <h4>Folio primera etapa</h4>
        <h4>854232232</h4>
    </div>

</section>

<th:block layout:include="fragments/footer"/>

<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>

</body>
</html>
