<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{fragments/base}">
<head>
    <title th:text="#{title}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/starter-template.css}"/>
</head>
<body>

<section layout:fragment="content">

    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
            and a mostly barebones HTML document.</p>
    </div>

</section>

<th:block layout:include="fragments/footer"/>

<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>

</body>
</html>
